@model List<ExchangeModelView.Exchange_Rates>
@{
    Layout = null;
}


<table class="table table-bordered">
    <tr>
        <th>Döviz Kur</th>
        <th>Kur</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr> 
            <td>@item.currency</td>
            <td>@item.exchange_rate_buy</td>
        </tr>
    }
</table>